.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.root {
  position: relative;
  padding: 40px 0;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.item {
  position: relative;
  padding-bottom: 30px;
}

.item-image {
  cursor: pointer;
  position: relative;
  img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
  }
}

.item-content {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-info {
  flex: 1;
}

.item-price {
  margin-bottom: 5px;
  display: block;
}