.root {
  padding: 35px 0;
  position: relative;
}

.empty {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-info {
  position: relative;
  p {
    display: block;
  }
}

.close {
  z-index: 1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  opacity: 0.7;
  cursor: pointer;
}

.icon {
  height: auto !important;
  margin: 0 auto !important;
  width: auto !important;
  display: block !important;
}