.controls {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
  align-items: center;
}

.controls-quantity {
  position: relative;
}

.inputs {
  display: flex;
  position: relative;
}

.input-quantity {
  padding: 0 15px;
  height: 100%;
  border: 1px solid #eee;
  margin-left: 5px;
  border-radius: 5px;
  display: flex !important;
  align-items: center;
}

.modal-actions {
  padding: 20px;
}